$content-font: 'Manrope', sans-serif;

$default-color: #fff;
$default-background-color: #E0ECF8;

$orange-accent: #ff6d3d;
$yellow-accent: #ffc42e;
$gray-accent: #808080;
$green-accent: #2fde3a;
$pink-accent: #fd62d6;
$blue-accent: #5E97EC;
$red-accent: #e20d4d;
$purple-accent: #770DE2;

$dark-text-color: rgb(32, 24, 24);

$default-border-radius: 20px;
$small-default-border-radius: 8px;

//bg

$base-bg-color: #121319;
$base-light-bg-color: #1F2026;